body, html {
  height: 100%;
}

.hero {
    position: relative;
    height: 550px;
    padding: 20px;
    margin: 0;
    background: black;
    background-image: url("../images/alien.jpg");
    background-attachment: fixed;
    background-position: bottom center;
    background-size: cover;
  }

.stay {
    position: fixed;
}

.pad{
    margin-top: 50px;
}

.vh {

    min-height: 100vh;
}